<div class="row">
	<div id="home" class="medium-12 columns center">
		<div class="container">
			<h1>Welcome to Khana</h1>
			<p>Plan your meals, eat better, be healthy.</p>
			<ul>
				<li><%= link_to "Sign in", '#' %></li>
				<li><%= link_to "Sign up", '#' %></li>
			</ul>
		</div>
	</div>
</div>
