<section id="home" class="content">
		<h3>Plan your meals, eat better, be healthy.</h3>
		<ul>
			<li><%= link_to "Sign in", login_path, class: "button" %></li>
			<li><%= link_to "Sign up", signup_path, class: "button" %></li>
		</ul>
</section>
