<% provide(:title, "Forgot password") %>

<div id="forgot_password" class="form_container_a">
		<h2>Forgot Password</h2>

			<%= form_for(:password_reset, url: password_resets_path) do |f| %>
				<%= f.email_field :email, placeholder: 'E-mail', class: 'form_field' %>
				<br>
				<%= f.submit "Submit", class: 'button round', class: 'form_field button' %>
			<% end %>
</div>

