<% provide(:title, "Forgot password") %>

<div id="forgot_password">
	<div class="content">
		<h1>Forgot Password</h1>

			<%= form_for(:password_reset, url: password_resets_path) do |f| %>
				<%= f.email_field :email, placeholder: 'E-mail' %>

				<%= f.submit "Submit", class: 'button round' %>
			<% end %>
	</div>
</div>

