<nav id="recipes_subnav" class="subnav">
	<ul>
		<li>
			<%= link_to 'All', '#' %>
		</li>
		<li>
			<%= link_to 'This Week', '#' %>
		</li>
		<li>
			<%= link_to 'Favorites', '#' %>
		</li>
	</ul>
</nav>