<div id="recipe_index" class="row">
	<div class="small-12 columns">		
		<h1>My recipes</h1>

			
			<% @recipes.each do |recipe| %>
				<ul class="small-block-grid-2 large-block-grid-3 recipe_index">
					<li>
						<h3><%= recipe.title %></h3>
						<div class="row">
							<div class="small-6 columns">
								<p class="time left">Prep: N/A</p>
							</div>
							<div class="small-6 columns">
								<p class="time right">Cook: N/A</p>
							</div>						
						</div>
						<p class="origin">From: N/A</p>
						<%= link_to "See recipe", recipe_path(recipe) %>
					</li>
				</ul>
			<% end %>	
			

	</div>
</div>