<h1>New recipe</h1>

<% form_for(@recipe) do |f| %>
	<%= render 'shared/error_message' %>

	<%= f.text_field :title, placeholder: 'Title' %>

	<%= f.text_field :description, placeholder: 'Description' %>

	
	<%= f.submit 'Create' %>
<% end %>