/* Color */

$main_color_y: #fbcf61;
$second_color_y: #f8c82d;
$third_color_y: #e3a712;
$complementary_color-b: #2D4375;

$main_color_g: #44D764;
$second_color_g: #26D74D;
$third_color_g: #1E9C3A;
$complementary_color-r: #CE3728;