/* forms */
label {display: block;}

.form_container_a {

	h2 {font-size: 2em;	}

	a {font-weight: bold;}

	input {
		margin-top: 2em;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
	}

	input[type='submit'] {
		border: 1px solid white;
	}
	
	// Change placeholder color for =/= browser
	::-webkit-input-placeholder { color: white !important; }
	:-moz-placeholder { color: white !important; } /* Firefox 18- */
	::-moz-placeholder { color: white !important; } /* Firefox 19+ */
	:-ms-input-placeholder { color: white !important; }
	
}

	#recipe_description {
		height: 300px;
		width: 95%;
	}

	.button_b {
	  -webkit-border-radius: 28;
	  -moz-border-radius: 28;
	  border-radius: 28px;
	  font-family: Arial;
	  color: #ffffff;
	  font-size: 20px;
	  background: $lime_green;
	  padding: 10px 20px 10px 20px;
	  text-decoration: none;
	}

	.button_b:hover {
	  background: $lime_green_darker;
	  text-decoration: none;
	}

.form_container_b {
	h2 { 
		font-size: 2em;
		margin-bottom: 2em;
	}
	input {
		margin-bottom: 1em;
	}

	.btn_holder {text-align: center;}

	.button {
	  @extend .button_b;
	}

	.button:hover {
	  @extend .button_b:hover;
	}
}