/* GRID */
#main_container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	min-width: 100%;
	@include outer-container;
}

#home {
	@include span-columns(6);
	@include shift(3);
	text-align: center;
}

#show_user {
	@include span-columns(6);
	@include shift(3);
}

#recipe_index {
	@include span-columns(6);
	@include shift(3);
	padding-left: 0;
	padding-right: 0;
}

#recipes_show {
	.recipe-title {
		@include span-columns(4);
		margin-bottom: 3em;
	}
	.recipe-prep {
		@include span-columns(8);
		@include omega();
		margin-bottom: 3em;
	}
}

#recipe_new, #recipe_edit {
	h2 {
		@include span-columns(6);
		@include shift(3);
	}
	section {
		@include span-columns(9);
		border: 1px solid $dark_brown;
		border-radius: 5px;
		padding: 1.5em;
	}
	aside {
		@include span-columns(3);
		@include omega();
		border: 1px solid $dark_brown;
		border-radius: 5px;
		padding: 1.5em;
		ul {list-style: none;}
	}
	span {
		margin-top: 1em;
		text-align: center;
	}
	ul {list-style: circle;}
	li {margin-bottom: 1em;}
}

#month-calendar {
	@include span-columns(6);
	@include shift(3);
	padding-left: 0;
	padding-right: 0;
}


.form_container_a {
	@include span-columns(6);
	@include shift(3);
	// text-align: center;
	padding-left: 5%;
	padding-right: 5%;
	.form_field {
		width: 100%;
	}
	h2 {
		text-align: center;
	}
}

.form_container_b {
	@include span-columns(6);
	@include shift(3);
	padding-left: 10%;
	padding-right: 10%;
	.form_field {
		width: 100%;
	}
	h2 {
		text-align: center;
	}
}

#flash {
	@include span-columns(6);
	@include shift(3);
	padding-bottom: 2em;
}

#error_explanation {
	@include span-columns(6);
	@include shift(3);
	padding-top: 2em;
	padding-bottom: 2em;	
}
