/* GRID */
#main_container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	@include outer-container;
}

#home {
	@include span-columns(6);
	@include shift(3);
	text-align: center;
}

#show_user {
	@include span-columns(6);
	@include shift(3);
}

#recipe_index {
	@include span-columns(6);
	@include shift(3);
}

#recipes_show {
	.recipe-title {
		@include span-columns(4);
	}
	.recipe-prep {
		@include span-columns(8);
		@include omega();
	}
}

#recipe_new {
	@include span-columns(6);
		@include shift(3);
	fieldset {
		
	}
}

#month-calendar {
	@include span-columns(6);
	@include shift(3);
}


.form_container_a {
	@include span-columns(6);
	@include shift(3);
	text-align: center;
	.form_field {
		width: 75%;
	}
}

#flash {
	@include span-columns(6);
	@include shift(3);
	padding-bottom: 2em;
}

#error_explanation {
	@include span-columns(6);
	@include shift(3);
	padding-top: 2em;
	padding-bottom: 2em;	
}
