// Fonts import

@import url(https://fonts.googleapis.com/css?family=Parisienne|Raleway:700,500,100|Droid+Serif);

// Global
h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	text-transform: capitalize;
}

a {color: $lime_green;}
h3 {
	a {color: $dark_brown;	}
}

.left {float: left;}
.right {float: right;}
.center {text-align: center;}

// Fonts families
h1 {font-family: 'Parisienne', cursive;}
h2 {font-family: 'Raleway'; font-weight: 100;}

body, .button {font-family: 'Raleway'; font-weight: 500;}

#recipe_index {
	h3 {font-family: 'Raleway'; font-weight: 100;}
}

#recipes_show {
	h1 {font-family: 'Raleway'; font-weight: 100;}
	h4 {font-family: 'Raleway'; font-weight: 700;}
}


