// Fonts import

@import url(https://fonts.googleapis.com/css?family=Parisienne|Raleway:100|Droid+Serif);

// Global
h1, h2, h3, h4, h5, h6 {line-height: 1;}

// a {color: white;}

.left {float: left;}
.right {float: right;}
.center {text-align: center;}

// Fonts families
h1 {font-family: 'Parisienne', cursive;}
h2 {font-family: 'Raleway';}

body, .button {font-family: 'Droid Serif', serif;}

#recipe_index {
	h3 {font-family: 'Raleway';}
}

#recipes {
	h1 {font-family: 'Raleway';}
	h4 {font-family: 'Droid Serif', serif;}
}


