/* VARIABLES */

// misc
$footer-height: 5em;


// colors
$light_grass: #A0D468;
$medium_grass: #8CC152;
$dark_brown: #351A00;
$lime_green: #B9F408; 
$lime_green_darker: #9fd10b;

$semi_transparent_black: rgba(0, 0, 0, 0.5);

/* MIXINS */

@mixin vertical_align {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@mixin box_shadow {
-webkit-box-shadow: 9px 11px 15px -8px rgba(0,0,0,0.29);
-moz-box-shadow: 9px 11px 15px -8px rgba(0,0,0,0.29);
-o-box-shadow: 9px 11px 15px -8px rgba(0,0,0,0.29);
box-shadow: 9px 11px 15px -8px rgba(0,0,0,0.29);
}

@mixin bg_size_cover {
	-webkit-background-size: cover;
	-moz-background-size: 	 cover;
	-ms-background-size: 	 	 cover;
	-o-background-size: 		 cover;
	background-size:  			 cover;
}

@mixin box_sizing {	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin dropdown_transition {
	-webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

@mixin dropdown_opacity {
	-webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}