/* Universal */

body {
	height: auto;
}

/* Layout */
.main_container {
	background: url(salad.jpg) white no-repeat center center fixed;
	@include bg_size_cover;
	height: 100vh;
	@include vertical_align;
}

#home {
	.content {		
		z-index: 100;
		margin-top: 25%;
		background: $third_color_g;
		border-radius: 5px;
		ul { padding-bottom: 1em;}
		h1 {
			font-family: $title_font;
			padding-top: 1em;
			text-transform: uppercase;
		}
		p {font-family: $sub_title_font; }
		h1, p {color: white;}
	}
	ul{
		margin-top: 1em;
		list-style: none;
		li {
			display: inline-block;
			background: $second_color_g;
			margin-right: 2em;
			margin-left: 2em;
			padding: 1em;
			border-radius: 5px;
			a {
			color: white;
			font-weight: bold;
			}
		}

	}
}

#signup, 
#login, 
#forgot_password, 
#reset_password {
	.content {
		width: 120%;
		background: rgba(0, 0, 0, 0.5);
		border-radius: 5px; 
	}
	h1{
		color: white;
		text-align: center;
		// margin-top: 3em;
		margin-bottom: 1.5em;
		padding-top: 1em;
	}
}

#login {	
	p { 
		text-align: center;
		color: white;
	}
	a {
		color: $main_color_y;
		font-weight: bold;
	}
	input {margin-bottom: 0;}
	span a {
		padding-top: 0;
		font-size: 12px;
	}
	#checkbox { 
		text-align: center;
		margin-top: 1em;
	}
	#submit_btn, p {margin-top: 2em;}
	.form_field {
		margin-left: 1.5em;
		margin-right: 1.5em;}
}

/* navigation */

#logo {
	float: left;
	margin-left: 20px;
	font-size: 1.5em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
	&:hover {
		text-decoration: none;
	}
}

/* sidebar */

aside {
	section.user_info { margin-top: 20px;}
	section {
		padding: 10px 0;
		margin-top: 20px;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
			padding-left: 1em;
		}
		h1 {
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
			padding-left: 1.5em; 
			color: white;
			font-weight: bold;
			background: $third_color_g;
		} 
	}
}



/* footer */

.footer {	
	height: 10vh;	
	background: $dark_brown;	
	p {
		padding-top: 2em;
		text-align: center;
		color: white;
	}
	a {
		color: $light_grass;
		font-weight: bold;
	}
}

/* Miscellaneous */

.alert-box {
	border-width: 0 0 0 0.35rem;
	&.alert {
		border-left-color: $complementary_color-r;
    background-color: scale-color($complementary_color-r, $lightness: 40%);
	}
}

// #flash {
// 	margin-top: 1em;
// }

.debug_dump {
	clear:both;
	text-align: center;
	width: 100%;
	@include box_sizing;
	background: white;
}