@import 'typo';
@import 'variables';
@import 'mixins';

/* Universal */

body {
	height: auto;
}

.center {
	text-align: center;
}

/* Layout */
.main_container {
	background-color: $main_color;
}

#home {
	.container {		
		@include vertical_align;
		z-index: 100;
		height: 15em;
		margin-top: 25%;
		background: $third_color;
		border-radius: 5px;
		h1, p {color: white;}
	}
	ul{
		list-style: none;
		li {
			display: inline-block;
			background: $second_color;
			margin-right: 2em;
			margin-left: 2em;
			padding: 1em;
			border-radius: 5px;
			a {
			color: white;
			}
		}

	}
}


/* footer */

.footer {	
	height: 10vh;	
	background-color: $complementary_color;	
	p {
		padding-top: 2em;
		text-align: center;
		color: white;
	}
}

/* Miscellaneous */

.debug_dump {
	clear:both;
	text-align: center;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
	background: white;
}