h1, h2, h3, h4, h5, h6 {
  line-height: 1; }

/* Color */
/* Universal */
body {
  height: auto; }

.center {
  text-align: center; }

/* Layout */
.main_container {
  background-color: white; }

#home .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  margin-top: 25%;
  background: #1e9c3a;
  border-radius: 5px; }
  #home .content ul {
    padding-bottom: 1em; }
  #home .content h1 {
    padding-top: 1em;
    text-transform: uppercase; }
  #home .content h1, #home .content p {
    color: white; }
#home ul {
  margin-top: 1em;
  list-style: none; }
  #home ul li {
    display: inline-block;
    background: #26d74d;
    margin-right: 2em;
    margin-left: 2em;
    padding: 1em;
    border-radius: 5px; }
    #home ul li a {
      color: white;
      font-weight: bold; }

#signup .content, #login .content {
  background: #1e9c3a;
  border-radius: 5px; }
#signup h1, #login h1 {
  color: white;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 0.5em;
  padding-top: 1em; }

#login p {
  color: white; }
#login a {
  color: #fbcf61;
  font-weight: bold; }

/* navigation */
#logo {
  float: left;
  margin-left: 20px;
  font-size: 1.5em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold; }
  #logo:hover {
    text-decoration: none; }

.fa-bars {
  color: #44d764; }

.off-canvas-list i.fa {
  display: inline-block;
  line-height: 14px;
  padding-left: 10px;
  padding-right: 10px; }
.off-canvas-list a {
  display: inline-block; }

.side-nav li {
  list-style: none; }
  .side-nav li a {
    color: white !important; }

#show_user {
  height: 85.2vh; }

.left-off-canvas-toggle .menu {
  float: left;
  display: block;
  margin: 1rem 1.5rem; }

/* sidebar */
aside section.user_info {
  margin-top: 20px; }
aside section {
  padding: 10px 0;
  margin-top: 20px; }
  aside section:first-child {
    border: 0;
    padding-top: 0; }
  aside section span {
    display: block;
    margin-bottom: 3px;
    line-height: 1;
    padding-left: 1em; }
  aside section h1 {
    font-size: 1.4em;
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 0px;
    padding-left: 1.5em;
    color: white;
    font-weight: bold;
    background: #1e9c3a; }

/* forms */
input, textarea, select, .uneditable-input {
  margin-bottom: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

input {
  height: auto !important; }

::-webkit-input-placeholder {
  color: #999; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #999; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #999; }

:-ms-input-placeholder {
  color: #999; }

.btn_holder {
  text-align: center; }

#error_explanation {
  color: #ce3728; }
  #error_explanation ul {
    color: white;
    margin: 0 0 30px 0; }
    #error_explanation ul li {
      margin-left: 1em; }

.checkbox span {
  margin-left: 10px;
  color: white; }

/* footer */
.footer {
  height: 10vh;
  background: #1e9c3a; }
  .footer p {
    padding-top: 2em;
    text-align: center;
    color: white; }
  .footer a {
    color: #fbcf61;
    font-weight: bold; }

/* Miscellaneous */
.alert-box {
  border-width: 0 0 0 0.35rem; }
  .alert-box.alert {
    border-left-color: #ce3728;
    background-color: #e5847a; }

.debug_dump {
  clear: both;
  text-align: center;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background: white; }
