<footer id="footer" class="<%= logged_in? ? 'logged_in' : 'not_logged_in' %>">
	<hr>
	<p>
		Created by InkBuddha. See project on 
		<a href="https://github.com/InkBuddha/Khana">Github</a>
	</p>
</footer>

